.app-container {
	text-align: center;
	background-color: #000; /* Black background */
	min-height: 100vh;
	color: #fff; /* White text */
	padding: 20px;
}

h1 {
	color: #fff; /* White title */
	font-size: 2.5rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.starships-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 10px;
	width: 200px;
	text-align: center;
}

.error {
	color: red;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

p {
	font-size: 1.2rem;
	text-align: center;
}

.load-more {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	margin: 20px auto;
	display: block;
	border-radius: 5px;
	font-size: 1rem;
}

.load-more:hover {
	background-color: #555;
}

.starships-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}
